@model Warehouse.Web.ViewModels.ProducerViewModel
@{
    ViewBag.Title = $"Producer - {Model.Name}";
    Layout = "_Layout";
}
<h1>@Model.Name</h1>
<h3>@Model.Description</h3>
<h3>@Model.Phone</h3>
<h3>@Model.Address</h3>